html {
  margin: 0;
  height: 100%;
}

*{
  box-sizing: border-box;
}

body {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
}

.pages {
  display: none;
  padding-bottom: 30px;
}

.pages h1 {
  text-align: center;
  font-size: 34px;
}

.container {
  margin: 20px auto 0;
  max-width: 968px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}

#canvas {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.l-col {
  display: flex;
}

.r-col {
  width: 100%;
}

/*
* Thumbnails
*/

#thumbnails {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#thumbnails img {
  box-shadow: 0px 0px 0px #222;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  padding:5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

#thumbnails img {
  cursor: pointer;
}

/*
* Tags
*/

#tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#tags .tag-item{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 8px;
  background: #f1f1f1;
  font-size: 14px;
}

#tags .tag-item.active{
  background: rgb(145 197 253);
  font-weight: bold;
}

#tags button {
  text-align: right;
  background: #efefef;
  border: 1px solid #ccc;
  font-size: 10px;
  border-radius: 10px;
  padding: 3px 6px;
  cursor: pointer;
}

#tags button:hover {
  background: #fff;
}

#tags .infoTag {
  font-size: 14px;
  padding-top:10px;
}


/*
* Button options
**/
.button-options {
  display: flex;
  justify-content: space-between;
  display: none;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-bottom: 1%;
  border-bottom: 1px solid #eeeeee;
}

.button-options button {
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: #555;
  cursor: pointer;
}

.button-options button:hover {
  background: #efefef;
}

.button-options .delete{
  background: #990000;
  color: #ffffff;
}

.button-options .delete:hover {
  background: #bd0202;
}

.count {
  display: inline-block;
  padding: 0 5px;
}


/*
* Custom file input
**/
.file-input {
  color: transparent;
  width: 100%;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: 'Upload New Image';
  background-image: linear-gradient(to right, #026caa 0%, #4500cd  51%, #0264aa  100%);
  padding: 8px 3px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.file-input:hover::before {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/*
* Preloader
*/
.preloader {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.preloader svg{
  width: 80px;
  height: auto;
}


/*
* Responsive
*/
@media screen and (max-width: 768px) {
  .container {
    width: 98%;
    flex-direction: column;
  }

  .r-col {
    margin:0;
    width: 100%;
  }

  .l-col {
    display: flex;
    padding-top: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .l-col > div {
    width: 50%;
  }

  .l-col .l-col-1 {
    margin-right:5px;
  }

  #thumbnails {
    border-bottom: none; 
  }

}
